{% extends "aawiki/base.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/template" id="annotation-view-template">
{% include "aawiki/partials/annotation-view.html" %}
</script>
<script type="text/template" id="annotation-edit-template">
{% include "aawiki/partials/annotation-edit.html" %}
</script>

{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/css/jquery-ui.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.wiki.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.annotations.css">
<link rel="stylesheet" href="{{ STATIC_URL }}lib/aa.jquery.contextual/aa.jquery.contextual.css">
{% endblock %}

{% block body %}
<audio id="resource" src="{{ object.url }}" controls autoplay></audio>
<div id="canvas"></div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
window.AA = window.AA || {};

{% url api_dispatch_list api_name='v1' resource_name='annotation' as annotationList %}
{% url api_dispatch_list api_name='v1' resource_name='resource' as resourceList %}
{% url api_dispatch_detail api_name='v1' resource_name='resource' pk=object.pk as resourceDetail %}

AA.routes = {
    annotationList: '{{ annotationList }}',
    resourceList: '{{ resourceList }}',
    resourceDetail: '{{ resourceDetail }}',
    resourceId: {{ object.pk }}
};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/marked.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/smil.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/aa.jquery.contextual/aa.jquery.contextual.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.caret.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.autoscrollable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}aawiki/js/page-detail.js"></script>
{% endblock %}
