@import "elements.less";


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'News Cycle', serif;
    color: darkgrey;
    /*text-align: center;*/
    padding: 20px;
    .box-sizing(border-box)
}

img {
    display: inline-block;
    /*outline: 1px solid red;*/
}

.icon {
    text-align: center;
    font-size: 13px;
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: white;
    .border-radius(9px, 9px, 9px, 9px);
    
}

.icon:hover {
    color: black;
    cursor: default;
}

.icon-compose {
    position: relative;
    top: 3px;
    left: 3px;
    margin-left:3px;
    width:auto;
}

.icon-set {
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.icon-info {
    font-style: italic;
}

.title {
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: white;
    display: none;
}

.briq {
    position: relative;
    display: inline-block;
}

.briq:hover {
    outline: 1px solid red;
}

.briq:hover .icon-set {
    display: block;
}

#keywords {
    font-size: 28px;
    line-height: 32px;
}

input, button, textarea {
    font-family: 'News Cycle', serif;
}

textarea {
    width: 100%;
    color: darkgrey;
    border-color: white;
    height: 200px;
}

textarea:focus {
    outline: 1px solid darkgrey;

}






h1{
	text-transform:uppercase;

}
.laterale {
	width:350px;
	position:absolute;
	right:0px;
	top:0px;
    bottom: 0px;
    padding: 20px 0;
    overflow-y: auto;
    
    section {
        border: 3px solid lightgrey;

    }
    section.selected {
        border-color: darkgrey;

    }
    nav {
        text-align:center;
        width:10px;
        vertical-align:middle;
        background-color:darkgrey;
        color:white;
    }   

    .icon {
        background-color: white;
        color: darkgrey;
    }
    .icon:hover {
        color: black;
    }
}

#composition {
    margin-top:10px;
}

.table {
    display: table;
    width: 100%;
    margin:auto;
}

.table-row {
    display: table-row;
    padding:5px;
}

.table-cell {
    display: table-cell;
    padding:5px;
}


