@import "elements.less";


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'News Cycle', serif;
    color: darkgrey;
    /*text-align: center;*/
    padding: 20px;
    .box-sizing(border-box)
}



.lateral-left {
    width:47%;

      img {
      display: inline-block;
      /*outline: 1px solid red;*/
      }
      
      
      
      .icon {
	  text-align: center;
	  font-size: 13px;
	  width: 13px;
	  height: 13px;
	  display: inline;
	  
      }

      .icon:hover {
	  color: black;
	  cursor: default;
      }

      .icon-compose {
	  position: relative;
	  top: 3px;
	  left: 3px;
	  margin-left:3px;
	  width:auto;
	  border:thin solid darkgrey;
	  padding:1px 2px;
      }
      .icon-play {
	  position: absolute;
	  top: 3px;
	  left: 3px;
	  margin-left:3px;
	  width:auto;
      }
   
      .icon-set {
	  position: absolute;
	  top: 3px;
	  left: 3px;
	  display: none;
      }

      .icon-info {
	  font-style: italic;
      }

      .title {
	  position: absolute;
	  top: 3px;
	  left: 3px;
	  background-color: white;
	  display: none;
      }

      .briq {
	  position: relative;
	  display: inline-block;
      }

      .briq:hover {
	  outline: 1px solid red;
      }

      .briq:hover .icon-set {
	  display: block;
      }

      #keywords {
	  font-size: 28px;
	  line-height: 32px;
	  padding:10px;
      }

      input, button, textarea {
	  font-family: 'News Cycle', serif;
      }

      textarea {
	  width: 100%;
	  color: darkgrey;
	  border-color: white ;
	  border-top:2px solid darkgrey;
	  border-left:2px solid darkgrey;
	  height: 200px;
      }

      textarea:focus {
	  outline: 1px solid darkgrey;

      }
 }





h1{
    display: inline;

    .table-cell {
    display: inline;
    float:left;
    padding:7px 23px;
    font-size: 15px;
    color: white;
    background-color:darkgrey;

    }
}

h2{
    display: inline;
    text-transform:uppercase;
    font-weight:bold;


    .table-cell {
    display: inline;
    float:left;
    padding:7px 23px;
    font-size: 15px;
    color: darkgrey;
    border:thin solid darkgrey;
    }
    

    
}



.laterale {
	width:47%;
	position:absolute;
	right:0px;
	top:0px;
	bottom: 0px;
	padding: 20px 20px;
	overflow-y: auto;
	border: 1px solid lightgrey;

   .playlist-selection{
	margin:48px 0px;
    }
    
    section {
	margin-top:15px;
    }
    section.selected {
        border-color: darkgrey;

    }
    nav {
        text-align:center;
        width:10px;
        vertical-align:middle;
        background-color:white;
        color:darkgrey;

    }   
            
    .previous{
      border-color: darkgrey;
      border-right:1px solid darkgrey;

    }
    .metadata{
      padding:0px 20px;
      width:400px;

    }
    .next{
      border-color: darkgrey;
      border-left:1px solid darkgrey;

    }
 
    .icon {
        color: darkgrey;
    }
    .icon:hover {
        color: black;
    }
    
    dl{
    
    }
    dt{
      font-weight:bold;
      clear: left;
      float: left;
      font-size:11px;
      vertical-align:text-bottom;
      line-height:20px;
      text-transform:uppercase;
      }
    dd{
      float:left;
    }
    .icon-play {
    padding:4px 4px 7px 4px;
    width:auto;
    position:absolute;

    }
    .icon-next {
      padding:4px 4px 7px 40px;
      width:auto;
      position:absolute;
  }
  .icon-previous {
      padding:4px 4px 7px 20px;
      width:auto;
      position:absolute;

  }
    .player {
    position: absolute;
    border:thin solid darkgrey;
    width:140px;
    height:28px;
    margin-left:5px;
    }
    
    .playerh2 {
    position: absolute;
    border:thin solid darkgrey;
    width:444px;
    height:29px;
    margin-left:5px;
    display:inline;

    }
    
    .playlist{
    margin-bottom:60px;
    margin-top:0px;
    border-top:2px solid darkgrey;
    padding-top:15px;
    }
    
}

#composition {
    margin-top:10px;
}

.table {
    display: table;
    width: 100%;
    margin:auto;
    background-color:white;
}

.table-row {
    display: table-row;
    padding:5px;
}

.table-cell {
    display: table-cell;
    padding:5px;
    
  
}


