@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 999%; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 999%; }
}
td	{ 
	animation: animatedBackground 20s linear infinite;
}
.rocks3 {
    background-image: url('/static/img/rocks3.png')!important;
    background-repeat: repeat;
}
.sand2 {
    background-image: url('/static/img/sand2.png')!important;
    background-repeat: repeat;
}
.arbres2 {
    background-image: url('/static/img/arbres2.png')!important;
    background-repeat: repeat;
}
.test2 {
    background-image: url('/static/img/test2.png')!important;
    background-repeat: repeat;
}
.test {
    background-image: url('/static/img/test.png')!important;
    background-repeat: repeat;
}
.rocks2 {
    background-image: url('/static/img/rocks2.png')!important;
    background-repeat: repeat;
}
.rocks {
    background-image: url('/static/img/rocks.png')!important;
    background-repeat: repeat;
}
.sand {
    background-image: url('/static/img/sand.png')!important;
    background-repeat: repeat; 
}
.col1{
        padding: 9px 50px;
}
.col2{
        padding: 9px 200px;
}
.col3{
        padding: 9px 200px;
        text-align:center;
}
.vignettes{
width:100px;
height:30px,
}
.legende{
margin:10px;
}
p{
    font-weight: 300;

}
body {
    font-size: 13px;
    line-height: 18px;
    margin: 26px;
    font-family: Oswald;
    /*background-image: url(/static/img/rice.png);*/
}

sup {
    vertical-align: 4px;
    font-size: 9px;
}

table {
    border: 2px solid black;

    th, td {
        vertical-align: top;
        
    }


    th {
        border: 1px solid black;    
        font-weight: 700;
        letter-spacing: 1px;
        vertical-align:middle;
    }

    td {
        /*color: red;*/
        border: 1px solid black;
        /*border-right: 1px solid black;*/
        /*border-left: 1px solid black;*/
        height: 300px;
    }
}

h1 {
    font-size: 26px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    margin-bottom: 36px;
    text-transform:uppercase;
    vertical-align:middle;

}

h2 {
    font-size: 18px;
    /*text-align: center;*/
    line-height: 22px;
    letter-spacing: 2px;
    margin-bottom: 22px;
}
img{
width:200px;
}