<!DOCTYPE HTML>

<html version="HTML+RDFa 1.1" lang="fr"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
xmlns:cc="http://creativecommons.org/ns#"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:foaf="http://xmlns.com/foaf/0.1/"
xmlns:aa="http://activearchives.org/terms/">

<head>
    <meta charset="utf-8"/>
    {% block head %}
    <link href="{{ STATIC_URL }}lib/css/reset.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}less/font.less" type="text/css" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}less/briques.less" type="text/css" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}less/jquery.jcursor.less" type="text/css" rel="stylesheet/less">
    {% endblock %}
</head>

<body>
{% block body %}
<textarea id="keywords">
nature:parole + nature:parole + theme:adolescence + nature:ambiance
</textarea>

<button id="btn-compose">composer</button>
<button>jouer</button>
<button>&lt;&lt;</button>
<button>&gt;&gt;</button>

<div id="composition"></div>

{% endblock %}


{% block js %}
<script id="brick-tmpl" type="text/template">
<div class="briq">
    <div class="icon-set">
        <span class="icon icon-reload">✨</span>
        <span class="icon icon-info">i</span>
        <span class="icon icon-delete">×</span>
    </div>
    <div class="title"><%= title %></div>
    <img src="<%= spectrogram %>" />
</div>
</script>
<script src="{{ STATIC_URL }}lib/js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}lib/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/less-1.3.0.min.js"></script>
<script src="{{ STATIC_URL }}lib/js/jquery-sparql/urlEncode.js"></script>
<script src="{{ STATIC_URL }}lib/js/jquery-sparql/jquery.sparql.js"></script>
<script src="{{ STATIC_URL }}js/briques.js"></script>
{% endblock %}
</body>
</html>
