<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>nomenclature</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}less/cartouche.less" type="text/css" rel="stylesheet/less">
</head>
<body>

    
<table border="0">

	  <tr>
	    <th class="col1">piste 1</th>
	    <th colspan="4"> <h1>Maisons Phenix: nomenclature</h1></th>
	  <tr>
	  
	  <tr>
            <th class="col1">N<sup>o</sup></th>
            <th class="col2">sounds</th>
            <th class="col3">photos</th>
	  </tr>
	  
	  <tr>
            <td rowspan="3">
	      <div class="legende">
	      <a href="" class="selected">001</a><br>
	      <img class="vignettes" src="{{ STATIC_URL }}img/rice.png" />
	      <p>connection1</p>
	      <p>connection2</p>
	      <p>connection1</p>
	      </div>
	      <div class="legende">
	      <a href="" class="">002</a><br>
	      <img class="vignettes" src="{{ STATIC_URL }}img/rice.png" />
	      <p>connection1</p>
	      <p>connection2</p>
	      <p>connection1</p>
	      </div>
	      <div class="legende">
	      <a href="" class="">003</a><br>
	      <img class="vignettes" src="{{ STATIC_URL }}img/rice.png" />
	      <p>connection1</p>
	      <p>connection2</p>
	      <p>connection1</p>
	      </div>
	      <div class="legende">
	      <a href="" class="">004</a><br>
	      <img class="vignettes" src="{{ STATIC_URL }}img/rice.png" />
	      <p>connection1</p>
	      <p>connection2</p>
	      <p>connection1</p>
	      </div>
	    </td>
	    <td rowspan="3">
		<img src="{{ STATIC_URL }}img/rice.png" />
		<img src="{{ STATIC_URL }}img/plantes_aquatiques.png" />
	    </td>
	    <td >
	    <img class="photos" src="{{ STATIC_URL }}photos/043VAD.jpeg" />
	    <div class="legende-photos">
	    <a href="">004</a>
	    <a class="extra selected" href="">001</a>
	    <a class="extra" href="">001</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">005</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">020</a>
	    <a class="extra" href="">015</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">001</a>
	    <a class="extra" href="">002</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">015</a>
	    <a class="extra" href="">017</a>
	    <a class="extra" href="">004</a>
	    <a class="extra" href="">020</a>
	    <a class="extra" href="">XXX</a>
	    <a class="extra" href="">XXX</a>


	      </div>
	    </td>
	  </tr>
	  <tr>
	    <th class="col3">
	      <div class="legende">
		text
	      </div>
	    </th>
	    </tr>
	    <tr>
	    <td >some text</td>
	  </tr>

</table>

    <script src="{{ STATIC_URL }}lib/js/less-1.3.0.min.js"></script>
</body>
</html>
