<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>nomenclature</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}less/nomenclature.less" type="text/css" rel="stylesheet/less">
</head>
<body>
    <h1>Maisons Phenix: nomenclature</h1>

    <h2>Zones</h2>

    <table border="0">
        <tr>
            <th>N<sup>o</sup></th>
            <th>Détail à représenter</th>
            <th>Observations</th>
        </tr>
        <tr>
            <td>001</td>
            <td><img src="{{ STATIC_URL }}img/rice.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>002</td>
            <td class="sand"><img src="{{ STATIC_URL }}img/plantes_aquatiques.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>003</td>
            <td><img src="{{ STATIC_URL }}img/arbres.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>003</td>
            <td class="arbres2"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>004</td>
            <td><img src="{{ STATIC_URL }}img/symbol-tree.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>005</td>
            <td><img src="{{ STATIC_URL }}img/symbol-fields.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>006</td>
            <td class="sand"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>007</td>
            <td class="rocks"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>008</td>
            <td class="rocks2"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>010</td>
            <td class="test2"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>009</td>
            <td class="test"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>009</td>
            <td class="sand2"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>009</td>
            <td class="rocks3"></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>009</td>
            <td class="rocks3 no-padding"><img src="{{ STATIC_URL }}img/rice-3.png" /></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
        <tr>
            <td>009</td>
            <td class="rocks3 no-padding"><div class="layer sand3"></div></td>
            <td>Ce motif pourrait être utilisé pour&hellip;</td>
        </tr>
    </table>

    <script src="{{ STATIC_URL }}lib/js/less-1.3.0.min.js"></script>
</body>
</html>
